@model CareHome.Models.CareHomes
<div class="form-group">
    <h4>ContactInfo</h4>
    <hr />
</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="ContactDetailsId" />
<input type="hidden" asp-for="ContactInfo.ContactDetailsId" />
<div class="form-group">
    <label asp-for="ContactInfo.ContactName" class="control-label"></label>
    <input asp-for="ContactInfo.ContactName" class="form-control" />
    <span asp-validation-for="ContactInfo.ContactName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ContactInfo.PrimaryNumber" class="control-label"></label>
    <input asp-for="ContactInfo.PrimaryNumber" class="form-control" />
    <span asp-validation-for="ContactInfo.PrimaryNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ContactInfo.SecondaryNumber" class="control-label"></label>
    <input asp-for="ContactInfo.SecondaryNumber" class="form-control" />
    <span asp-validation-for="ContactInfo.SecondaryNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ContactInfo.EMail" class="control-label"></label>
    <input asp-for="ContactInfo.EMail" class="form-control" />
    <span asp-validation-for="ContactInfo.EMail" class="text-danger"></span>
</div>


