<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Care Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="~/lib/tablesorter/dist/css/theme.dark.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CareHome.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/tablesorter/dist/css/jquery.tablesorter.pager.css" />
    <link rel="stylesheet" href="~/lib/slick-carousel/slick.css" />
    <link rel="stylesheet" href="~/lib/slick-carousel/slick-theme.css" />
</head>
<body class="Index">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CareHome</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Manage Care Homes", "Index", "CareHomes", null, new { @class = "nav-link text-dark" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CareHome - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/tablesorter/dist/js/jquery.tablesorter.js"></script>
    <script src="~/lib/tablesorter/dist/js/jquery.tablesorter.widgets.js"></script>
    <script src="~/lib/tablesorter/dist/js/widgets/widget-scroller.min.js"></script>
    <script src="~/lib/tablesorter/dist/js/jquery.tablesorter.pager.js"></script>
    <script src="~/lib/slick-carousel/slick.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
