@model CareHome.Models.CareHomes

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Care Homes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p></p>
                <h4>AddressDetails</h4>
                <hr />
            </div>
            <div class="form-group">
                <label asp-for="AddressDetails.NumberStreetName" class="control-label"></label>
                <input asp-for="AddressDetails.NumberStreetName" class="form-control" />
                <span asp-validation-for="AddressDetails.NumberStreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDetails.Locality" class="control-label"></label>
                <input asp-for="AddressDetails.Locality" class="form-control" />
                <span asp-validation-for="AddressDetails.Locality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDetails.Town" class="control-label"></label>
                <input asp-for="AddressDetails.Town" class="form-control" />
                <span asp-validation-for="AddressDetails.Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDetails.Postcode" class="control-label"></label>
                <input asp-for="AddressDetails.Postcode" class="form-control" />
                <span asp-validation-for="AddressDetails.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p></p>
                <h4>ContactInfo</h4>
                <hr />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContactInfo.ContactName" class="control-label"></label>
                <input asp-for="ContactInfo.ContactName" class="form-control" />
                <span asp-validation-for="ContactInfo.ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo.PrimaryNumber" class="control-label"></label>
                <input asp-for="ContactInfo.PrimaryNumber" class="form-control" />
                <span asp-validation-for="ContactInfo.PrimaryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo.SecondaryNumber" class="control-label"></label>
                <input asp-for="ContactInfo.SecondaryNumber" class="form-control" />
                <span asp-validation-for="ContactInfo.SecondaryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo.EMail" class="control-label"></label>
                <input asp-for="ContactInfo.EMail" class="form-control" />
                <span asp-validation-for="ContactInfo.EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p></p>
                <input type="submit" value="Create" class="btn btn-primary" /> |  <a class="btn btn-warning" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
