@model CareHome.Models.CareHomes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Care Home Details</h4>
    <h1><a class="btn btn-info" href="~/Staff/Index/@Model.CareHomesId">Manage Staff For This Health Care</a></h1>
    <div>
        <hr />
    </div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @await Html.PartialAsync("../AddressDetails/Details.cshtml", Model.AddressDetails,ViewData)
    @await Html.PartialAsync("../ContactDetails/Details.cshtml", Model.ContactInfo,ViewData)
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.CareHomesId">Edit</a> | <a class="btn btn-warning" asp-action="Index">Cancel</a>
</div>
