@model CareHome.Models.CareHomes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Care Home Details</h4>
    <hr />
    <div
        <hr />
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @await Html.PartialAsync("../AddressDetails/Details.cshtml", Model.AddressDetails)
    @await Html.PartialAsync("../ContactDetails/Details.cshtml", Model.ContactInfo)

    <div>
        <a class="class=" btn btn-danger"" href="~/Staff/Index/@Model.CareHomesId">Manage Staff For This Health Care</a>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CareHomesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
