@model CareHome.Models.CareHomes



<h1>Edit</h1>

<h4>CareHomes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CareHomesId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Address Details</h4>
                <hr />
            </div>
            <input type="hidden" asp-for="AddressDetailsId" />
            <input type="hidden" asp-for="AddressDetailsId" />
            <div class="form-group">
                <label asp-for="AddressDetails.NumberStreetName" class="control-label"></label>
                <input asp-for="AddressDetails.NumberStreetName" class="form-control" />
                <span asp-validation-for="AddressDetails.NumberStreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDetails.Locality" class="control-label"></label>
                <input asp-for="AddressDetails.Locality" class="form-control" />
                <span asp-validation-for="AddressDetails.Locality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDetails.Town" class="control-label"></label>
                <input asp-for="AddressDetails.Town" class="form-control" />
                <span asp-validation-for="AddressDetails.Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDetails.PostCode" class="control-label"></label>
                <input asp-for="AddressDetails.PostCode" class="form-control" />
                <span asp-validation-for="AddressDetails.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Contact Details</h4>
                <hr />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContactDetailsId" />
            <input type="hidden" asp-for="ContactDetailsId" />
            <div class="form-group">
                <label asp-for="ContactInfo.ContactName" class="control-label"></label>
                <input asp-for="ContactInfo.ContactName" class="form-control" />
                <span asp-validation-for="ContactInfo.ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo.PrimaryNumber" class="control-label"></label>
                <input asp-for="ContactInfo.PrimaryNumber" class="form-control" />
                <span asp-validation-for="ContactInfo.PrimaryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo.SecondaryNumber" class="control-label"></label>
                <input asp-for="ContactInfo.SecondaryNumber" class="form-control" />
                <span asp-validation-for="ContactInfo.SecondaryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo.EMail" class="control-label"></label>
                <input asp-for="ContactInfo.EMail" class="form-control" />
                <span asp-validation-for="ContactInfo.EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
