@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="autoplay">
    <div><img src="~/images/carehome (1).jpg" alt="image" /> </div>
    <div><img src="~/images/carehome (2).jpg" alt="image" /> </div>
    <div><img src="~/images/carehome (3).jpg" alt="image" /> </div>
    <div><img src="~/images/carehome (4).jpg" alt="image" /> </div>
    <div><img src="~/images/carehome (5).jpg" alt="image" /> </div>
    <div><img src="~/images/carehome (6).jpg" alt="image" /> </div>
    <div><img src="~/images/carehome (7).jpg" alt="image" /> </div>
    <div><img src="~/images/carehome (8).jpg" alt="image" /> </div>
</div>