html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.DetailTable {
    display: block;
}



.Index {
    background-color: hsla(200, 40%, 30%, .4);
    background-image: url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'), url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'), url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'), url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
    background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
    animation: 50s para infinite linear;
}

@keyframes para {
    100% {
        background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%, 400px 0;
    }
}


.ui-dialog .ui-dialog-titlebar-close {
    background-image: url("../lib/jqueryui/images/ui-icons_cc0000_256x240.png") !important;
    background-position: -96px -128px
}


.container1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .container1 .box {
        width: 250px;
        height: 150px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

        .container1 .box .title {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            height: 50px;
        }

.container .box .title .block {
    width: 0%;
    height: inherit;
    background: #ffb510;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
}

.container1 .box .title h1 {
    font-family: ' Poppins ' color: #fff;
    font-size: 32px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
}

    .container1 .box .title h1 span {
        width: 0px;
        height: 0px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #ffb510;
        -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation-delay: 2s;
        margin-left: 5px;
        margin-top: -10px;
        position: absolute;
        bottom: 13px;
        right: -12px;
    }

.container1 .box .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: -10px;
    color: #ffb510;
    font-weight: 900;
}

    .container1 .box .role .block {
        width: 0%;
        height: inherit;
        background: #e91e63;
        position: absolute;
        animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation-delay: 2s;
        display: flex;
    }

    .container1 .box .role p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
        font-weight: 400;
        font-family: ' Lato ';
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background: #e9d856;
        border: 0px solid #ddd;
        opacity: 0;
    }

    50% {
        width: 10px;
        height: 10px;
        background: #e9d856;
        opacity: 1;
        bottom: 45px;
    }

    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px;
    }

    80% {
        width: 10px;
        height: 10px;
        bottom: 20px;
    }

    100% {
        width: 7px;
        height: 7px;
        background: #e9d856;
        border: 0px solid #222;
        bottom: 13px;
    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

bottom {
    width: 350px;
    height: 80px;
    background: #ffb510;
    position: absolute;
    right: 0;
    bottom: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: top 0.8s forwards;
    animation-delay: 4s;
}

    bottom span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #232323;
        font-family: ' Poppins ' font-weight: 900;
    }

        bottom span i {
            margin-right: 25px;
            font-size: 22px;
            color: #232323;
            animation: icon 2s forwards;
            animation-delay: 4s;
            opacity: 0;
        }


@keyframes top {
    0% {
        opacity: 0;
        bottom: -80px;
    }

    100% {
        opacity: 1;
        bottom: 100px;
    }
}

@keyframes icon {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.3) rotate(-2deg);
    }

    100% {
        opacity: 1;
        bottom: 0px;
    }
}










/* Fixed column scroll bar spacer styling */
.tablesorter-scroller-bar-spacer {
    background: #eee;
}
/* add border to right side (LTR pages) of fixed column */
.tablesorter-scroller-fixed:after {
    content: '';
    border-right: 1px solid #444;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    /* set to zero for non-jquery ui themes; use "left" here for RTL pages */
    right: 0;
    /* match the margins set to the table to keep the border the same height as the table */
    margin: 10px 0 15px;
}

/* using-x-theme added by the demo code */
.using-jui-theme .tablesorter-scroller-fixed:after {
    /* use "left" here for RTL pages */
    right: 0;
}

.using-green-theme .tablesorter-scroller-fixed:after,
.using-black-ice-theme .tablesorter-scroller-fixed:after,
.using-dark-theme .tablesorter-scroller-fixed:after,
.using-dropbox-theme .tablesorter-scroller-fixed:after {
    /* match the margins set to the table to keep the border the same height as the table */
    margin: 0;
}

/* OPTIONAL CSS! */
#fixed-columns-table tbody td {
    /* force "Notes" column to not wrap, so we get a horizontal scrolling demo! */
    white-space: nowrap;
    /* Add min column width, or "Index" column filter gets too narrow to use */
    min-width: 60px;
}
