@model CareHome.Models.Qualifications

<h4>
    Qualifications For:  @Html.DisplayFor(model => model.Staff.Forename) @Html.DisplayFor(model => model.Staff.MiddleNames)  @Html.DisplayFor(model => model.Staff.LastName)
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QualificationType" class="control-label"></label>
                <input asp-for="QualificationType" class="form-control" />
                <span asp-validation-for="QualificationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstitutionalName" class="control-label"></label>
                <input asp-for="InstitutionalName" class="form-control" />
                <span asp-validation-for="InstitutionalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttainmentDate" class="control-label"></label>
                @Html.EditorFor(model => model.AttainmentDate, new { htmlAttributes = new {  Value = Model.AttainmentDate.ToString("{0:dd-MMM-yyyy}"), @class = "form-control datepicker",  @type = "text", @id = "AttainmentDate" } })
                <span asp-validation-for="AttainmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p></p>
                <input type="submit" value="Create" class="btn btn-primary" /> | <a class="btn btn-warning" href="~/Qualifications/Index/@Model.StaffId">Cancel</a>
            </div>
            <input type="hidden" asp-for="StaffId" />
        </form>
    </div>
</div>
<div>
    <p></p>
    <a href="~/Staff/Details/@Model.StaffId">Back To Staff Details</a> |
    <a href="~/Staff/Index/@Model.Staff.CareHomesId">Back To Staff Page</a>
</div>

