@model CareHome.Models.Staff

@{
    ViewData["Title"] = "Edit";
}

<h1>
    Member Of Health Care:  @Html.DisplayFor(model => model.CareHomes.Name)
</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="Staff">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StaffId" />
            <input type="hidden" asp-for="CareHomesId" />
            <div class="form-group">
                <label asp-for="Forename" class="control-label"></label>
                <input asp-for="Forename" class="form-control" />
                <span asp-validation-for="Forename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleNames" class="control-label"></label>
                <input asp-for="MiddleNames" class="form-control" />
                <span asp-validation-for="MiddleNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderTypesId" class="control-label"></label>
                <select asp-for="GenderTypesId" class="form-control" asp-items="ViewBag.GenderTypesId"></select>
                <span asp-validation-for="GenderTypesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p></p>
                <h4>Address Details</h4>
                <hr />
            </div>
            <input type="hidden" asp-for="AddressDetailsId" />
            <input type="hidden" asp-for="AddressDetailsId" />
            <div class="form-group">
                <label asp-for="AddressDetails.NumberStreetName" class="control-label"></label>
                <input asp-for="AddressDetails.NumberStreetName" class="form-control" />
                <span asp-validation-for="AddressDetails.NumberStreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDetails.Locality" class="control-label"></label>
                <input asp-for="AddressDetails.Locality" class="form-control" />
                <span asp-validation-for="AddressDetails.Locality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDetails.Town" class="control-label"></label>
                <input asp-for="AddressDetails.Town" class="form-control" />
                <span asp-validation-for="AddressDetails.Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDetails.Postcode" class="control-label"></label>
                <input asp-for="AddressDetails.Postcode" class="form-control" />
                <span asp-validation-for="AddressDetails.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p></p>
                <h4>Contact Details</h4>
                <hr />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContactDetailsId" />
            <input type="hidden" asp-for="ContactDetailsId" />
            <div class="form-group">
                <label asp-for="ContactInfo.ContactName" class="control-label"></label>
                <input asp-for="ContactInfo.ContactName" class="form-control" />
                <span asp-validation-for="ContactInfo.ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo.PrimaryNumber" class="control-label"></label>
                <input asp-for="ContactInfo.PrimaryNumber" class="form-control" />
                <span asp-validation-for="ContactInfo.PrimaryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo.SecondaryNumber" class="control-label"></label>
                <input asp-for="ContactInfo.SecondaryNumber" class="form-control" />
                <span asp-validation-for="ContactInfo.SecondaryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo.EMail" class="control-label"></label>
                <input asp-for="ContactInfo.EMail" class="form-control" />
                <span asp-validation-for="ContactInfo.EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EthnicityGroupsId" class="control-label"></label>
                <select asp-for="EthnicityGroupsId" class="form-control" asp-items="ViewBag.EthnicityGroupsId"></select>
                <span asp-validation-for="EthnicityGroupsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new {  Value = Model.DOB.ToString("{0:dd-MMM-yyyy}"), @class = "form-control datepicker",  @type = "text", @id = "DOB" } })
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select id="Department" asp-for="DepartmentId" class="form-control" data-rule-hasSelection="true" asp-items="@(new SelectList(ViewBag.DepartmentId,"Value","Text", ViewBag.DepId))"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitlesId" class="control-label"></label>
                <select id="JobTitle" asp-for="JobTitlesId" class="form-control" data-rule-hasSelection="true" asp-items="@(new SelectList(ViewBag.JobTitlesId, "Value", "Text",ViewBag.JobTId))"></select>
                <span asp-validation-for="JobTitlesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p></p>
                <input type="submit" id="submit" value="Save" class="btn btn-primary" /> |  <a asp-action="Index" class="btn btn-warning" asp-route-id="@Model?.CareHomesId">Cancel</a>

            </div>
        </form>

    </div>
</div>

<div>
    <p></p>
    <a href="~/carehomes/Index/@Model.CareHomesId">Back To Care Home</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
