@model CareHome.Models.Staff

@{
    ViewData["Title"] = "Edit";
}

<h1>
    Member Of Health Care:  @Html.DisplayFor(model => model.CareHomes.Name)
</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StaffId" />
            <div class="form-group">
                <label asp-for="Forename" class="control-label"></label>
                <input asp-for="Forename" class="form-control" />
                <span asp-validation-for="Forename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleNames" class="control-label"></label>
                <input asp-for="MiddleNames" class="form-control" />
                <span asp-validation-for="MiddleNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderTypesId" class="control-label"></label>
                <select asp-for="GenderTypesId" class="form-control" asp-items="ViewBag.GenderTypesId"></select>
                <span asp-validation-for="GenderTypesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressDetailsId" class="control-label"></label>
                <select asp-for="AddressDetailsId" class="form-control" asp-items="ViewBag.AddressDetailsId"></select>
                <span asp-validation-for="AddressDetailsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactDetailsId" class="control-label"></label>
                <select asp-for="ContactDetailsId" class="form-control" asp-items="ViewBag.ContactDetailsId"></select>
                <span asp-validation-for="ContactDetailsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EthnicityGroupsId" class="control-label"></label>
                <select asp-for="EthnicityGroupsId" class="form-control" asp-items="ViewBag.EthnicityGroupsId"></select>
                <span asp-validation-for="EthnicityGroupsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitlesId" class="control-label"></label>
                <select asp-for="JobTitlesId" class="form-control" asp-items="ViewBag.JobTitlesId"></select>
                <span asp-validation-for="JobTitlesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
